.root {
	height: 100%;
}
.title {
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 30px;
}
.row {
	display: grid;
	grid-template-columns: 2fr 10fr;
	height: 100%;
}
.dialogs {
	flex: 0 1 250px;
	border-right: 1px solid #4608ad;
	height: 100%;
	padding-left: 15px;
}

.messages {
	padding-left: 30px;
}
